.calculator {
  display: inline-block;
  width: 350px;
  background-color: #eff1f5;
  position: absolute;
  top: 20%;
  padding: 20px;
  border-radius: 5%;
}

.calculator > .screen {
  text-align: right;
  font-size: 60px;
  background-color: #eff1f5;
}

.calculator > .screen > .answer {
  text-align: right;
  font-size: 40px;
  background-color: #eff1f5;
}

.calculator > .screen > .equation {
  display: inline-block;
  width: 100%;
}

.calculator > .keyboard {
  display: grid;
  width: 100%;
  justify-content: center;
}

.calculator > .keyboard > .button {
  display: inline-block;
  font-size: 25px;
  width: 50px;
  height: 50px;
  margin: 15px;
  background-color: #eff1f5;
  border-radius: 50%;
  text-align: center;
}
.calculator > .keyboard > .button.grey {
  background-color: gray;
}

.calculator > .keyboard > .button.dark {
  background-color: darkolivegreen;
}

.calculator > .keyboard > .button.red {
  background-color: red;
}
